/*
 * Copyright 2018 Transposit Corporation. All Rights Reserved.
 */

 @import "~antd/dist/antd.css";

 .app-logo {
   animation: App-logo-spin infinite 20s linear;
   height: 80px;
 }

 .app-header {
   background-color: #222;
   height: 160px;
   padding: 20px;
   text-align: center;
 }

 .app-title {
   font-size: 1.5em;
   color: white;
   margin-top: 20px;
 }

 .app-content {
   padding: 20px;
 }

 .app-sidebar {
   position: absolute;
 }

 .app-sidebar-card {
   width: 300px;
 }

 @keyframes App-logo-spin {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }
